* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container--hero {
  min-width: 100vw;
  min-height: 100vh;
  background: url('./../images/hero.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--hero .logo {
  position: absolute;
  top: 100px;
  left: 100px;
}

.container--hero .hero {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__greeting {
  width: 852px;
  height: 60px;
  font-size: 72px;
  line-height: 55px;
  color: transparent;
  font-family: "Open Sans";
  font-weight: 800;
  text-align: center;
  /* border: 2px solid #ffffff; */
  -webkit-text-stroke: 2px #ffffff;
}

.hero__title {
  width: 852px;
  height: 82px;
  font-size: 64px;
  letter-spacing: 5px;
  line-height: 55px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

.hero .btn__rg__text {
  width: 145px;
  height: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
}