/*------- CSS RESET -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------Hero Container----------------- */
.container__hero {
  min-height: 90vh;
  background: url('./../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__hero .hero {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__hero .logo {
  position: absolute;
  top: 5%;
  left: 10%;
}

.logo__title {
  display: block;
  width: 249px;
  height: 45px;
  background: url('./../images/logo-white.svg');
}

.hero__title {
  width: max-content;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

.hero__greeting {
  width: max-content;
  height: 60px;
  font-size: 72px;
  line-height: 55px;
  color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  -webkit-text-stroke: 3px #ffffff;
}

.hero__name {
  height: 82px;
  font-size: 64px;
  letter-spacing: 5px;
  line-height: 55px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.hero .btn__rg--text {
  width: 145px;
  height: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* ------------------MissionContainer----------------- */
.row__mission {
  min-height: 70vh;
  flex-direction: row;
  align-items: center;
}

.mc__description {
  font-size: 16px;
  color: #161616;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-text-stroke: 0.6px #979797;
}

.mc__link {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 42px;
  color: #613476;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* ------------------GettingStartedContainer----------------- */
.gettingstarted__section {
  background: url('./../images/banner-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.row__gettingstarted {
  min-height: 80vh;
  flex-direction: row;
  align-items: center;
}

.gettingstarted__section .btn__rg--text {
  width: 153px;
  height: 22px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* ------------------OfferContainer----------------- */
.row__offer {
  min-height: 80vh;
  flex-direction: row;
  align-items: center;
}

.offer__description {
  display: -webkit-box;
  width: 408px;
  height: 96px;
  font-size: 16px;
  color: #161616;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: 1px solid #979797;
  -webkit-box-orient: vertical;
}

.offer__link {
  display: block;
  max-width: 190px;
  height: 43px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 42px;
  color: #613476;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  white-space: pre;
}

.offer__icon--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer__icon {
  width: 81px;
  height: 81px;
}

.offer__icon--animate {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: bottom;
}

.offer__icon--animate:hover {
  cursor: pointer;
  animation-name: bounce;
}

.offer__icon--center:hover .offer__icon__text {
  border-bottom: 1px solid black;
}

.offer__icon--clipboard {
  background: url('./../images/home-expertise.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__icon--facemask {
  background: url('./../images/home-hygiene.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__icon--lab {
  background: url('./../images/home-lab.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__icon--calendar {
  background: url('./../images/home-retention.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__icon--border {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #ac5fd0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer__icon__text {
  font-size: 22px;
  line-height: 30px;
  color: #3e3e3e;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 10px;
}

/* ------------------RightAgeContainer----------------- */
.section__rightage {
  background: url('./../images/banner-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  min-height: 75vh;
  align-items: center;
}

.rightage__description {
  font-size: 16px;
  color: #161616;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-text-stroke-color: 1px solid #979797;
  margin-bottom: 30px;
}

.section__rightage .btn__rg--text {
  width: 153px;
  height: 22px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* ------------------ReviewContainer----------------- */
.row__review {
  min-height: 50vh;
}

.review__signature {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 42px;
  color: #613476;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.review__description {
  font-size: 16px;
  color: #161616;
  font-family: "Open Sans";
  font-weight: 400;
  -webkit-text-stroke: 1px solid #979797;
}

.review__subject {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 48px;
  color: #3e3e3e;
  font-family: "Open Sans";
  font-weight: 700;
}

.review__star {
  font-size: 40px;
  color: #ff7218;
}

.carousel__btn:hover {
  cursor: pointer;
}

.carousel__index-btns {
  display: flex;
  justify-content: center;
}

.carousel__index {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffe465;
  margin: 8px;
}

.carousel__index--active {
  background-color: #ffc718;
}

/* ------------------FooterContainer----------------- */
.row__footer {
  min-height: 15vh;
}

.social__text {
  font-size: 14px;
  color: #3e3e3e;
  font-family: "Open Sans";
  font-weight: 700;
}

.social__icon {
  width: 43px;
  height: 43px;
}

/* ------------------Animations----------------- */
.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1.1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-6px);
  }
  100% {
    transform: scale(1.1) translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1,1) translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1
  }
}

/* ------------------MediaQueries----------------- */
@media only screen and (max-width: 600px) {
  .hero__greeting, .hero__name {
    font-size: 52px;
  }

  .offer__title, .review__subject {
    text-align: center;
  }

  .col--offset-2 {
    margin: 0;
  }
}

@media only screen and (max-width: 992px) {
  .mission__content, .mission__message, .offer__content, .review__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col--offset-2 {
    margin-left: 16.67%;
  }

  .offer__title, .review__subject {
    text-align: center;
  }
}